# python files
__pycache__/
.py[cod]
migrations/
.pytest_cache/
.mypy_cache/



# ide/edit file
.idea/
.vscode/


# project file
*.sql
*.db

# docker data
nginx-data/
mysql-data/

# vue files
node_module/
