[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
flask = "*"
flask-cors = "*"
flask-restful = "*"
markdown = "*"
flask-sqlalchemy = "*"
flask-httpauth = "*"

[requires]
python_version = "3.7"
