[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
autopep8 = "*"
yapf = "*"

[packages]
flask = "*"
flask-cors = "*"
flask-restful = "*"
markdown = "*"
flask-sqlalchemy = "*"
flask-httpauth = "*"
pymysql = "*"

[requires]
python_version = "3.7"
